// media query manager
@mixin respond($breakpoint) {
	@if $breakpoint == medium {
		@media (min-width: 768px) {
			@content;
		}
	}

	@if $breakpoint == large {
		@media (min-width: 992px) {
			@content;
		}
	}
}

// neutral colors
$white: hsl(0, 0%, 100%);
$pale-blue: hsl(221, 100%, 96%);
$light-lavender: hsl(241, 100%, 89%);
$light-lavender-2: hsla(241, 100%, 89%, 0.5);
$light-lavender-3: hsla(241, 100%, 89%, 0.8);
$dark-gray-blue: hsl(224, 30%, 27%);

// primary colors
$light-red: hsl(0, 100%, 67%);
$light-red-2: hsla(0, 100%, 67%, 0.1);
$orange-yellow: hsl(39, 100%, 56%);
$orange-yellow-2: hsl(39, 100%, 56%, 0.1);
$green-teal: hsl(166, 100%, 37%);
$green-teal-2: hsl(166, 100%, 37%, 0.1);
$cobalt-blue: hsl(234, 85%, 45%);
$cobalt-blue-2: hsl(234, 85%, 45%, 0.1);

// gradient colors
$light-slate-blue: hsl(252, 100%, 67%);
$light-royal-blue: hsl(241, 81%, 54%);
$violet-blue: hsla(256, 72%, 46%, 1);
$persian-blue: hsla(241, 72%, 46%, 0);

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Hanken Grotesk', sans-serif;
	font-size: 1.8rem;
}

main {
	@include respond(large) {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
	}
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

button {
	border: none;
	cursor: pointer;
}

// .wrapper {
// 	margin: 0 auto;
// 	// padding: 0 1.5em;
// 	width: 100%;
// 	max-width: 1200px;
// }
