@use './base' as b;

.component {
	display: flex;
	flex-direction: column;

	@include b.respond(large) {
		flex-direction: row;
		height: 51.2rem;
		width: 73.6rem;
		border-radius: 30px;
		box-shadow: 15px 30px 30px b.$dark-gray-blue-3;
	}

	&__result {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		min-height: 35.5rem;
		padding: 0.7em 0 2em;
		background-image: linear-gradient(b.$light-slate-blue 2%, b.$light-royal-blue 100%);
		color: b.$light-lavender;
		font-size: 1.5rem;
		text-align: center;
		border-radius: 0 0 30px 30px;

		@include b.respond(large) {
			flex-basis: 50%;
			padding: 1.3em 0 2em;
			border-radius: 30px;
		}
	}

	&__result-heading {
		margin-bottom: 0.8em;
		font-size: 1.8rem;

		@include b.respond(large) {
			margin-bottom: 0.6em;
			font-size: 2.4rem;
		}
	}

	&__result-score {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 0.5em;
		background-image: linear-gradient(b.$violet-blue, b.$persian-blue);
		height: 2.6em;
		width: 2.6em;
		color: b.$white;
		font-size: 5.4rem;
		font-weight: 700;
		border-radius: 50%;

		@include b.respond(large) {
			margin-bottom: 0.1em;
			height: 2.8em;
			width: 2.8em;
			font-size: 7.2rem;
			font-weight: 700;
		}

		&--full {
			display: block;
			color: b.$light-lavender-2;
			font-size: 1.4rem;
			font-weight: normal;

			@include b.respond(large) {
				font-size: 1.8rem;
				transform: translateY(-0.3em);
			}
		}
	}

	&__result-text {
		color: b.$white;
		font-size: 2.3rem;
		font-weight: 500;

		@include b.respond(large) {
			font-size: 3.2rem;
			font-weight: 500;
		}
	}

	&__result-details {
		width: 70%;
		font-size: 1.6rem;

		@include b.respond(large) {
			font-size: 1.8rem;
			transform: translateY(-0.3em);
		}
	}

	&__summary {
		padding: 1.5em 1.7em;
		color: b.$dark-gray-blue;

		@include b.respond(large) {
			flex-basis: 50%;
			padding: 1.5em 2.2em;
		}
	}

	&__summary-heading {
		margin-bottom: 1.4em;
		font-size: 1.9rem;
		font-weight: 800;

		@include b.respond(large) {
			margin-bottom: 1.6em;
			font-size: 2.4rem;
		}
	}

	&__summary-details {
		display: flex;
		flex-direction: column;
		gap: 0.9em;

		@include b.respond(large) {
			gap: 1em;
		}
	}

	&__summary-item {
		display: flex;
		justify-content: space-between;
		padding: 1.1em 0.9em;
		font-size: 1.6rem;
		background-color: b.$pale-blue;
		border-radius: 0.9rem;

		@include b.respond(large) {
			padding: 1em 0.9em;
		}

		&--reaction {
			background-color: b.$light-red-2;

			.component__summary-item-name {
				color: b.$light-red;
			}
		}

		&--memory {
			background-color: b.$orange-yellow-2;

			.component__summary-item-name {
				color: b.$orange-yellow;
			}
		}

		&--verbal {
			background-color: b.$green-teal-2;

			.component__summary-item-name {
				color: b.$green-teal;
			}
		}

		&--visual {
			background-color: b.$cobalt-blue-2;

			.component__summary-item-name {
				color: b.$cobalt-blue;
			}
		}

		&:last-child {
			margin-bottom: 1.8em;

			@include b.respond(large) {
				margin-bottom: 2.5em;
			}
		}
	}

	&__summary-item-box-left {
		display: flex;
	}

	&__summary-item-icon {
		margin-right: 0.8em;
		width: 95%;
		height: 95%;
	}

	&__summary-item-name {
		font-weight: 700;

		@include b.respond(large) {
			font-size: 1.8rem;
		}
	}

	&__summary-item-score {
		font-weight: 800;

		@include b.respond(large) {
			font-size: 1.8rem;
		}

		&--full {
			margin-left: 0.1em;
			color: b.$dark-gray-blue-2;
		}
	}

	&__summary-btn {
		position: relative;
		padding: 1em 0.8em;
		width: 100%;
		background-color: b.$dark-gray-blue;
		color: b.$white;
		font-size: 1.7rem;
		font-weight: 700;
		border-radius: 3rem;
		overflow: hidden;
		z-index: 10;

		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 0%;
			background-image: linear-gradient(b.$light-slate-blue 2%, b.$light-royal-blue 100%);
			transition: height 0.3s ease-in-out;
			z-index: -2;
		}

		&:hover::before {
			height: 100%;
		}
	}
}

.footer {
	padding: 1em;
	font-size: 1.4rem;

	@include b.respond(large) {
		position: fixed;
		bottom: 0;
	}
}
